/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-screen {
  padding: 20px;
}

.input-group {
  margin: 20px 0;
}

input[type="text"],
input[type="date"] {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-top: 5px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
}


/* 현재 날짜부터 10일간 다른 색상 */
input[type="date"]:not(:placeholder-shown) {
  background-color: #e0f7fa; /* 블루 계열 */
}
/* 달력의 빨간색 스타일 */
.react-datepicker__day--highlighted-red {
  color: red !important;
  font-weight: bold;
}